*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    width: 20vw;
    height: 70vh;
    background: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 10vh;
    border: 0;
    border-radius: 10px;
}

.imageQrCode{
    width: 20vw;
    height: 45vh;
    border: 0;
    border-radius: 10px;
}

.title, .paragraph{
    text-align: center;
}

.title{
    width: 20vw;
    font-size: 1.25rem;
    margin: 1rem 0;
    font-family: 'Outfit', sans-serif;
}

.paragraph{
    width: 20vw;
    font-size: 1.05rem;
    color: hsl(214, 18%, 73%);
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}



@media(max-width: 1024px){
    .card{
        width: 200px;
        height: 450px;
    }

    .imageQrCode{
        width: 200px;
        height: 250px;
    }

    .title{
        width: 200px;
    }

    .paragraph{
        width: 200px;
    }

}

@media (min-width: 1440px){
    .imageQrCode{
        width: 200px;
        height: 230px;
    }

    .card{
        width: 200px;
        height: 430px;
    }

    .title{
        width: 200px;
    }

    .paragraph{
        width: 200px;
    }
    
}








