*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    width: 20vw;
    height: 70vh;
    background: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 10vh;
    border: 0;
    border-radius: 10px;
}

.imageQrCode{
    width: 20vw;
    height: 45vh;
    border: 0;
    border-radius: 10px;
}

.title, .paragraph{
    text-align: center;
}

.title{
    width: 20vw;
    font-size: 1.25rem;
    margin: 1rem 0;
    font-family: 'Outfit', sans-serif;
}

.paragraph{
    width: 20vw;
    font-size: 1.05rem;
    color: hsl(214, 18%, 73%);
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}

@media(max-width: 2560px){
    .card{
    width: 20vw;
    height: 36vh;
    }

    .imageQrCode{
    width: 20vw;
    height: 30vh;
    }

}

@media(max-width: 1440px){
    .card{
    width: 20vw;
    height: 45vh;
    }

    .imageQrCode{
    width: 20vw;
    height: 30vh;
    }

}

@media(max-width: 1024px){
    .card{
    width: 20vw;
    height: 57vh;
    }

    .imageQrCode{
    width: 20vw;
    height: 30vh;
    }

}

@media(max-width: 768px){
    .card{
    width: 20vw;
    height: 73vh;
    }

    .imageQrCode{
    width: 20vw;
    height: 30vh;
    }

}

@media(max-width: 425px){
    .card{
    width: 23vw;
    height: 100vh;
    }

    .imageQrCode{
    width: 23vw;
    height: 20vh;
    }

}

@media(max-width: 375px){
    .card{
    width: 23vw;
    height: 100vh;
    }

    .imageQrCode{
    width: 24vw;
    height: 20vh;
    }

}

@media(max-width: 320px){
    .card{
    width: 23vw;
    height: 113vh;
    }

    .imageQrCode{
    width: 25vw;
    height: 20vh;
    }

}



